<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <h2>登录</h2>
    <form method="post" action="{{ url_for('main.login') }}">
        <label>用户名：</label>
        <input type="text" name="username" placeholder="用户名" required>

        <label>密码：</label>
        <input type="password" name="password" placeholder="密码" required>
        
        <!-- <button type="submit">登录</button> -->
        <input type="submit" value="登录">
    </form>
    <p>没有账号？ <a href="{{ url_for('main.register') }}">去注册</a></p>
</body>
</html>